# Ambientes Virtuais (Essencial para não subir gigabytes de bibliotecas)
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Variáveis de Ambiente (Segurança!)
.env

# Arquivos gerados pelo sistema (SmartReport)
# Não queremos subir os CSVs de teste nem os PDFs gerados
uploads/*.csv
uploads/*.xlsx
uploads/*.pdf

# IDEs
.vscode/
.idea/

# SO
.DS_Store
Thumbs.db